@import '../base/mixin';
@import '../base/extends';
@import '../base/variables';
/*Seccion Uno*/
.seccion-uno{
    padding-top: 40px;
    .container-card{
        max-width: 74em;
        margin: auto auto;
        perspective: 62.5em;
        @extend %flex;
        flex-wrap: wrap;
        
        .card-father{
            margin: 1.25em;
            perspective: 62.5em;
            
            &:hover{
                .card{
                    transform: rotateY(180deg);
                }
            }
            .card{
                width: 21.8em;
                height: 25em;
                @include card-positon(relative);
                transform-style: preserve-3d;
                transition: all 600ms;
                border-radius: 1.25em;
                @media screen and (max-width: 576px) {
                    object-fit: cover;
                }
                .card-front{
                    background-image: url('../src/multimedia/imagenes/imagenes/fotohome.jpg');
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    @include card-positon(absolute);
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 1.25em;
                    box-shadow: 7px 13px 37px #000;
                    .bg{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.4);
                        border-radius: 1.25em;
                    }
                    .body-card-front{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 2.5em;
                        @extend %flex;
                        align-items: center;
                        color: #fff;
                        transform: translateZ(60px);
                        h2{
                            font-size: 1.6em;
                            font-family:'Spinnaker', sans-serif; 
                        }
                    }
                }
                .card-back {
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    @include card-positon(absolute);
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 1.25em;
                    transform: rotateY(180deg);
                    background: white;
                    .body-card-back{
                        padding: 2.5em;
                        text-align: center;
                        transform: translateZ(60px);
                        .text-card{
                            margin-top: 1.8em;
                            font-size: 1.1em;
                        }
                        input{
                            padding: 0.6em 2.5em;
                            margin-top: 1.8em;
                            font-size: 1em;
                            border: none;
                            color: white;
                            background: $color-violeta;
                            box-shadow: 1px 1px 30px -5px $color-violeta;
                            border-radius: 0.6em;
                            transition: box-shadow 600ms;
                            &:hover{
                                box-shadow: 1px 1px 30px 0px $color-violeta;
                            }
                        }
                    }
                }
                .card-front2{
                    background-image: url('../src/multimedia/imagenes/imagenes/uvas.png');
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    @include card-positon(absolute);
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 1.25em;
                    box-shadow: 7px 13px 37px #000;
                    .bg{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.4);
                        border-radius: 1.25em;
                    }
                    .body-card-front{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 2.5em;
                        @extend %flex;
                        align-items: center;
                        color: #fff;
                        transform: translateZ(60px);
                        h2{
                            font-size: 1.6em;
                            font-family:'Spinnaker', sans-serif; 
                        }
                    }
                }
                .card-back {
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    @include card-positon(absolute);
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 1.25em;
                    transform: rotateY(180deg);
                    background: white;
                    .body-card-back{
                        padding: 2.5em;
                        text-align: center;
                        transform: translateZ(60px);
                        .text-card{
                            margin-top: 1.8em;
                            font-size: 1.1em;
                        }
                        button{
                            position: relative;
                            display: inline-block;
                            margin: .6em;
                            padding: 1em 1.8em;
                            text-align: center;
                            font-size: 1.1em;
                            letter-spacing: 1px;
                            text-decoration: none;
                            color: $color-violeta;
                            background: transparent;
                            cursor: pointer;
                            transition: ease-out 0.5s;
                            border-radius: 3.75em;
                            border: 2px solid $color-violeta;
                            border-radius: 10px;
                            box-shadow: inset 0 0 0 0 $color-violeta;
                            &:hover{
                                color: white;
                                box-shadow: inset 0 -100px 0 0 $color-violeta;
                            }
                            &:active{
                                transform: scale(0.9);
                            }
                        }
                    }
                }
                .card-front3{
                    background-image: url('../src/multimedia/imagenes/imagenes/background-franquicias.png');
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    @include card-positon(absolute);
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 1.25em;
                    box-shadow: 7px 13px 37px #000;
                    .bg{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.4);
                        border-radius: 1.25em;
                    }
                    .body-card-front{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 2.5em;
                        @extend %flex;
                        align-items: center;
                        color: #fff;
                        transform: translateZ(60px);
                        h2{
                            font-size: 1.6em;
                            font-family:'Spinnaker', sans-serif; 
                        }
                    }              
                }
                .card-back {
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    @include card-positon(absolute);
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 20px;
                    transform: rotateY(180deg);
                    background: white;
                    box-shadow: 7px 13px 37px #000;
                    .body-card-back{
                        padding: 1.25em;
                        text-align: center;
                        transform: translateZ(60px);
                        .text-card{
                            margin-top: 1em;
                            font-size: 1.3em;
                        }
                        input{
                            padding: 0.6em 2.5em;
                            margin-top: 1.8em;
                            font-size: 1em;
                            cursor: pointer;
                            border: none;
                            color: white;
                            background: $color-violeta;
                            box-shadow: 1px 1px 30px -5px $color-violeta;
                            border-radius: 0.6em;
                            transition: box-shadow 600ms;
                            &:hover{
                                box-shadow: 1px 1px 30px 0px $color-violeta
                            }
                        }
                    }
                }
            }
        }
    }
    .row{
        box-shadow: 7px 13px 57px #000;
        border-radius: 20px;
        margin: 2.1em 3em;
        @media screen and (max-width: 480px) {
            margin: auto;
        }
        .titulo{
            font-size: 3em;
            font-weight: bold;
            color: $color-violeta;
            font-family: 'Spinnaker', sans-serif;
        }
        p{
            font-size: 1.4em;
            color: black;
            opacity: 0.7;
            font-family:'Spinnaker', sans-serif; 
        }
    }
    .banner{
        background-color:#273036 ;
        margin: 0;
        color: whitesmoke;
        font-family:'Spinnaker', sans-serif; 
        font-size: 5em;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1300px){
            font-size: 4em;
        }
        @media screen and (max-width: 1020px){
            font-size: 3em;
        }
        @media screen and (max-width: 750px){
            font-size: 2em;
        }
        @media screen and (max-width: 500px){
            font-size: 1.6em;
        }
        @media screen and (max-width: 400px){
            font-size: 1.3em;
        }
    }
}










/*Fin seccio Uno*/