/*Seccion dos*/
.seccion-dos{
    margin-bottom: 2em;
    margin-top: 2.5em;
    border: 2px solid beige;
    border-radius: 7em ;
    box-shadow: 7px 13px 57px #000;
    @media screen and (max-width: 480px) {
        border-radius: 2em;
    }
    h2{
        font-size: 3em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        font-family: 'Spinnaker', sans-serif;
        color: $color-violeta;
        margin-bottom: 1em;
        padding-top: 40px;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    .div-contenedor{
        .contenedor1{
            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor2{
            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor3{
            margin-bottom: 0.5em;
            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
    }
    .div-contenedor2{
        .contenedor4{
            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;                
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor5{
            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }
            h3{
                display: flex;
                justify-content: center; 
                font-family: $fonts-titulos;
                opacity: .8;   
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor6{
            @media screen and (max-width: 767px) {
                margin-bottom: 2em;
            }
            h3{
                display: flex;
                justify-content: center; 
                font-family: $fonts-titulos;
                opacity: .8;   
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
    }
    
}
/*Fin seccion dos*/